@{
    ViewData["Title"] = "Política de privacidad";
}


<section class="bsb-blog-5 py-3 py-md-5 py-xl-8 mb-9 pb-5">
    <div class="container fadein-libros-first">
        <div class="row d-flex justify-content-center align-items-center h-50">

            <h1>Política de Privacidad de Bookify</h1>
            <p>Bienvenido a Bookify, una plataforma en línea dedicada a conectar a los amantes de los libros con una amplia selección de literatura. Al utilizar nuestro servicio, reconocemos la importancia de proteger su privacidad y seguridad. Esta Política de Privacidad describe cómo recopilamos, utilizamos, almacenamos y protegemos su información personal.</p>

            <h2>¿Qué información recopilamos?</h2>
            <p>- Información de registro: Cuando se registra en Bookify, proporcionamos información como nombre, dirección de correo electrónico y número de teléfono.</p>
            <p>- Información de uso: Utilizamos cookies y seguimiento de actividad para mejorar la experiencia del usuario y entender mejor cómo interactúa con nuestra plataforma.</p>
            <p>- Información de pago: Si realiza una compra, recopilamos detalles de pago para procesarla.</p>

            <h2>¿Cómo utilizamos su información?</h2>
            <p>Utilizamos su información para:</p>
            <ul>
                <li>Proporcionar y mejorar nuestros servicios.</li>
                <li>Personalizar su experiencia en Bookify.</li>
                <li>Comunicarnos con usted sobre su cuenta y actualizaciones.</li>
                <li>Procesar pagos y realizar devoluciones.</li>
            </ul>

            <h2>¿Compartimos su información?</h2>
            <p>Podemos compartir su información con terceros para:</p>
            <ul>
                <li>Procesar pagos.</li>
                <li>Realizar análisis de uso de la plataforma.</li>
                <li>Cumplir con obligaciones legales.</li>
            </ul>

            <h2>Seguridad de su información</h2>
            <p>Implementamos medidas de seguridad robustas para proteger su información, incluyendo el uso de encriptación y firewalls. Sin embargo, no podemos garantizar la seguridad total de su información.</p>

            <h2>Derechos de privacidad</h2>
            <p>Tiene derecho a acceder, rectificar, eliminar y portar su información personal. Puede ejercer estos derechos contactándonos a través de nuestro formulario de contacto.</p>

            <h2>Actualizaciones a esta Política de Privacidad</h2>
            <p>Reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le recomendamos revisar esta página regularmente para estar al tanto de cualquier cambio.</p>

            <h2>Contacto</h2>
            <p>Si tiene preguntas sobre esta Política de Privacidad o sus derechos de privacidad, puede contactarnos a través de nuestro formulario de contacto disponible en nuestra página de inicio.</p>
        </div>

    </div>
</section>