@{
    int numCesta = 0;
    if (Context.User.Identity.IsAuthenticated)
    {
        int idusuario = int.Parse(Context.User.FindFirst(ClaimTypes.NameIdentifier).Value);
        // if (serviceCache.GetProductosFavoritosAsync() != null)
        // {
        //     List<Libro> cesta = await serviceCache.GetProductosFavoritosAsync();
        //     if (cesta != null)
        //     {
        //         numCesta = cesta.Count;

        //     }
        // }

        if (Context.Session.GetObject<List<int>>("FAVORITOS", idusuario) != null)
        {
            List<int> cesta = Context.Session.GetObject<List<int>>("FAVORITOS", idusuario);
            if (cesta != null)
            {
                numCesta = cesta.Count;
            }
        }
    }
}


@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Users" asp-action="Perfil">
            Login
        </a>
    </li>
}

<li class="nav-item">
    <a class="nav-link" asp-controller="Libros" asp-action="Libros">
        <i class="fa fa-house"></i>
    </a>
</li>


<li class="nav-item">
    <a class="nav-link" asp-controller="Libros" asp-action="Carrito">
        Cesta
        @if (numCesta > 0)
        {
            <div class="text-danger badge absolute inline-flex h-5 w-5 items-center justify-center text-xs">
                <i class="fa-solid fa-cart-shopping"></i> @numCesta
            </div>
        }
    </a>
</li>
