

<div class="container">
    <h1 class="d-flex align-items-center justify-content-center pb-2">Cambio de contraseña</h1>
    <div class="container-md fadein-libros-first">
        <form method="post">
            <label class="form-label">Email para enviar código</label>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <input class="form-control" readonly name="email" value="@Context.User.FindFirst(ClaimTypes.Name).Value" type="email" />
            }
            else
            {
                <input class="form-control" name="email" placeholder="Email al que le llegará el código..." type="email" />
            }

            <br />
            <button class="btn btn-outline-secondary">Enviar código</button>
        </form>
        <br />
        <div class="d-flex align-items-center justify-content-center pb-2">
            <strong> ¿Estas dado de alta con nosotros? En caso contrario primero </strong> &nbsp;
            <a asp-controller="Users" asp-action="RegistroUsuario" class="btn btn-primary rounded-pill"> Regístrate</a>
        </div>

        <h2 class="text-danger">@ViewData["ERROR"]</h2>
    </div>
</div>