

<section class="h-50 mb-2 pb-2 fadein-libros-first">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black" style="background-color: #d8d8d8;">
                    <div class="row g-0" style="border-radius: .3rem">
                        <div class="col-lg-6">
                            <div class="card-body mx-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center imagenForm">
                        <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">
                                <strong>
                                    @ViewData["ACTIVAR_CUENTA"]
                                </strong>
                            </h4>
                            <p class="small mb-0">
                                Ahora ya puedes disfrutar de tu lectura con los
                                <a class="text-primary text-decoration-none"
                                   asp-controller="Libros" asp-action="Libros"> libros</a> más actualizados
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>