@if (Context.User.Identity.IsAuthenticated)
{
    <div class="container fadein-libros-first">
        <div class="d-block align-items-center">
            <form method="post">

                <label class="form-label">Cuenta asociada</label>
                <input class="form-control" value="@Context.User.FindFirst(ClaimTypes.Name).Value" disabled />

                <label class="form-label">Contraseña antigua</label>
                <input type="password" id="oldpassword" name="oldpass" class="form-control" placeholder="Introduce la contraseña antigua..." required />
                <label class="form-label">Nueva contraseña</label>
                <input type="password" id="newpassword" name="newpass" class="form-control" placeholder="Introduce la nueva contraseña..." required />
                <br />
                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                    <i class="fas fa-eye"></i>
                </button>
                <br />
                <br />
                <button class="btn btn-outline-success">Modificar contraseña</button>
            </form>
        </div>
        <br />
        <h3 class="text-danger">@ViewData["ERROR"]</h3>

        <a asp-controller="Managed" asp-action="ResetPassword" class="btn btn-primary">Olvidé mi contraseña</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("newpassword");
            var showPasswordBtn = document.querySelector(".btn-outline-secondary");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                showPasswordBtn.innerHTML = `
                                                            <i class="fas fa-eye-slash"></i>
                                                `;
            } else {
                passwordField.type = "password";
                showPasswordBtn.innerHTML = `
                                                            <i class="fas fa-eye"></i>
                                                `;
            }

            var oldPasswordField = document.getElementById("oldpassword");
            var showOldPasswordBtn = document.querySelector(".btn-outline-secondary");

            if (oldPasswordField.type === "password") {
                oldPasswordField.type = "text";
                showOldPasswordBtn.innerHTML = `
                                                                    <i class="fas fa-eye-slash"></i>
                                                        `;
            } else {
                oldPasswordField.type = "password";
                showOldPasswordBtn.innerHTML = `
                                                                    <i class="fas fa-eye"></i>
                                                        `;
            }
        }
    </script>

}
