@model Usuario

@if (Context.User.Identity.IsAuthenticated)
{
    if (Model != null)
    {
        <section class="h-100 mb-9 pb-3 fadein-libros-first">
            <div class="container user-profile mb-4">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <img src="@Model.FotoPerfil" width="225" height="201" alt="" class="rounded" />
                    </div>
                    <div class="col-md-6 mt-3">
                        <h5 class="text-secondary">@Model.Nombre </h5>
                        <h5 class="text-secondary">@Model.Apellido</h5>
                        <h5 class="text-secondary">@Model.Email</h5>
                    </div>
                    <div class="col-md-2 mt-3">
                        <a class="btn btn-outline-primary" asp-controller="Users" asp-action="PedidosUsuario">Mis pedidos</a>
                    </div>
                    @* <div class="col-md-5 mt-2">
            <a class="btn btn-primary" asp-controller="Users" asp-action="ActualizarPerfil">Actualizar perfil</a>
            </div> *@
                </div>
            </div>
        </section>
    }
}

@section Scripts {
    <script>

    </script>
}
