


<div class="container">
    <div class="d-block align-items-center fadein-libros-first">
        <form method="post">
            <label class="form-label">Email</label>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <input class="form-control" readonly name="email" value="@Context.User.FindFirst(ClaimTypes.Name).Value" type="email" />
            }
            else
            {
                <input type="email" name="email" class="form-control" placeholder="Ingrese su email..." required />
            }

            <label class="form-label">Nueva contraseña</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese la nueva contraseña..." required />
            <br />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                <i class="fas fa-eye"></i>
            </button>
            <br />
            <br />
            <label class="form-label">Código de reseteo de contraseña</label>
            <input type="text" name="codigo" class="form-control" placeholder="Ingrese el códgio que se le envió al email asociado (revise SPAM)..." required />
            <br />
            <button class="btn btn-outline-success">Cambiar contraseña</button>
        </form>


    </div>
    <br />
    <div class="d-flex align-items-center justify-content-center pb-2">
        <a asp-controller="Users" asp-action="RegistroUsuario" class="btn btn-primary rounded-pill ">¿No tienes una cuenta?</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var showPasswordBtn = document.querySelector(".btn-outline-secondary");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                showPasswordBtn.innerHTML = `
                                                    <i class="fas fa-eye-slash"></i>
                                        `;
            } else {
                passwordField.type = "password";
                showPasswordBtn.innerHTML = `
                                                    <i class="fas fa-eye"></i>
                                        `;
            }
        }
    </script>

}